body {
  -webkit-background: #009788;
  -moz-background: #009788;
  background: #009788;
}

.wrapper {
  padding: 80px;
}

.container-maxWidth {
  max-width: 1000px;
}

.logo {
  -webkit-position: absolute;
  -moz-position: absolute;
  position: absolute;
  z-index: 1;
  left: -95px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 10px solid #009788;
  border-radius: 50%;
}

.logo img {
  width: 149px;
  border-radius: 50%;
}

.box {
  -webkit-position: relative;
  -moz-position: relative;
  position: relative;
}

.box::after {
  content: " ";
  width: 0;
  height: 0;
  border-top: 5px solid #363636;
  border-left: 5px solid #363636;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  -webkit-position: absolute;
  -moz-position: absolute;
  position: absolute;
  right: -10px;
  bottom: -60px;
  z-index: 3;
}

.box::before {
  content: " ";
  width: 0;
  height: 0;
  border-top: 2px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 8px solid #363636;
  border-right: 5px solid #363636;
  -webkit-position: absolute;
  -moz-position: absolute;
  position: absolute;
  right: 53px;
  top: -10px;
  z-index: 3;
}

.box .content {
  -webkit-position: absolute;
  -moz-position: absolute;
  position: absolute;
  -webkit-padding: 10px 28px;
  -moz-padding: 10px 28px;
  padding: 10px 28px;
  right: -10px;
  top: -10px;
  background: #363636;
  clip-path: polygon(25% 100%, 0 0, 100% 0, 100% 100%);
  -webkit-clip-path: polygon(25% 100%, 0 0, 100% 0, 100% 100%);
  -moz-clip-path: polygon(25% 100%, 0 0, 100% 0, 100% 100%);
  z-index: 2;
  font-size: 27px;
  color: #fff;
  -webkit-font-weight: 600;
  -moz-font-weight: 600;
  font-weight: 600;
}

.box .shadow {
  -webkit-position: absolute;
  -moz-position: absolute;
  position: absolute;
  z-index: 1;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  padding: 28px 30px;
  right: 0;
  top: 0;
  clip-path: polygon(25% 100%, 0 0, 100% 0, 100% 100%);
  -webkit-clip-path: polygon(25% 100%, 0 0, 100% 0, 100% 100%);
  -moz-clip-path: polygon(25% 100%, 0 0, 100% 0, 100% 100%);
}

.header {
  box-shadow: 0px 10px 3px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 10px 3px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 10px 3px 0px rgba(0, 0, 0, 0.25);
  -webkit-position: relative;
  -moz-position: relative;
  position: relative;
  border-radius: 25px;
}

.header::before {
  content: "";
  background: #1fc1c4;
  -webkit-position: absolute;
  -moz-position: absolute;
  position: absolute;
  left: -99px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 90px;
  border-radius: 50%;
}

.header h1,
.header h5 {
  color: #1fc1c4;
}

.header .background-primary {
  -webkit-background: #1fc1c4;
  -moz-background: #1fc1c4;
  background: #1fc1c4;
}

.header .border-radius-25px {
  border-radius: 25px;
}

.header ul {
  padding-left: 0;
}

.header ul li {
  font-size: 16px;
  -webkit-font-weight: 700;
  -moz-font-weight: 700;
  font-weight: 700;
  color: #7f8180;
}

.header ul img {
  -webkit-position: absolute;
  -moz-position: absolute;
  position: absolute;
  left: 80%;
  top: 0 !important;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  width: 25px;
}

.card-middle {
  -webkit-background: #e0e0e0;
  -moz-background: #e0e0e0;
  background: #e0e0e0;
}

.card-middle span.copy {
  font-size: 12px;
  border-radius: 5px;
  -webkit-font-weight: 700;
  -moz-font-weight: 700;
  font-weight: 700;
  -webkit-background: #1fc1c4;
  -moz-background: #1fc1c4;
  background: #1fc1c4;
  color: white;
  -webkit-padding: 1px 6px;
  -moz-padding: 1px 6px;
  padding: 1px 6px;
}

.card-middle span.smallbtn {
  font-size: 12px;
  border-radius: 5px;
  -webkit-font-weight: 700;
  -moz-font-weight: 700;
  font-weight: 700;
  color: #1fc1c4;
  margin-right: 10px;
  -webkit-padding: 1px 6px;
  -moz-padding: 1px 6px;
  padding: 1px 6px;
}

.cart-body {
  box-shadow: 0px -10px 3px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px -10px 3px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px -10px 3px 0px rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.cart-body ul.list-group-horizontal li {
  width: 33%;
  background-color: #1fc1c4;
  border: 2px solid #1fc1c4;
}

.cart-body ul.list-group-horizontal li a {
  font-size: 22px;
  -webkit-font-weight: 600;
  -moz-font-weight: 600;
  font-weight: 600;
  text-decoration: none;
  color: #1fc1c4;
}

.cart-body .input-group input[type="text"] {
  border-radius: 5px;
  border: none;
  background: #1fc1c4;
  text-align: center;
  width: 100%;
}

.cart-body .input-group input[type="text"]::-webkit-input-placeholder {
  color: #66e7e7;
  -webkit-font-weight: 600;
  -moz-font-weight: 600;
  font-weight: 600;
  font-size: 22px;
}

.cart-body .input-group input[type="text"]:-ms-input-placeholder {
  color: #66e7e7;
  -webkit-font-weight: 600;
  -moz-font-weight: 600;
  font-weight: 600;
  font-size: 22px;
}

.cart-body .input-group input[type="text"]::-ms-input-placeholder {
  color: #66e7e7;
  -webkit-font-weight: 600;
  -moz-font-weight: 600;
  font-weight: 600;
  font-size: 22px;
}

.cart-body .input-group input[type="text"]::placeholder {
  color: #66e7e7;
  -webkit-font-weight: 600;
  -moz-font-weight: 600;
  font-weight: 600;
  font-size: 22px;
}

.cart-body .input-group input[type="text"]:focus {
  outline: none;
}

.cart-body .input-group i {
  color: #66e7e7;
  -webkit-position: absolute;
  -moz-position: absolute;
  position: absolute;
  left: 75%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cart-body .table-responsive table {
  border-collapse: separate;
  border-spacing: 3px;
  border: 0px solid white;
  margin: auto;
}

.cart-body .table-responsive table thead {
  color: #1fc1c4;
  font-size: 20px;
  -webkit-font-weight: 700;
  -moz-font-weight: 700;
  font-weight: 700;
  background: #1fc1c4;
}

.cart-body .table-responsive table thead tr th {
  font-size: 15px;
  vertical-align: middle;
}

.cart-body .table-responsive table tbody {
  -webkit-font-weight: 600;
  -moz-font-weight: 600;
  font-weight: 600;
  color: #3d4140;
  white-space: nowrap;
  background-color: #f5f9f8 !important;
}

.cart-body .table-responsive table tbody tr {
  vertical-align: middle;
}

.cart-body .table-responsive table tbody tr td:nth-child(2) {
  color: #1fc1c4;
}

.cart-body .table-responsive h1 {
  color: #1fc1c4;
}

.cart-body .table-btn span {
  background-color: #1fc1c4;
  border: none;
  color: white;
  border-radius: 10px;
  -webkit-font-weight: 600;
  -moz-font-weight: 600;
  font-weight: 600;
}

.cart-body .cart-accordion .accordion-item {
  border: none;
}

.cart-body .cart-accordion .accordion-item .bullet-color {
  color: #1fc1c4;
  font-size: 20px;
}

.cart-body .cart-accordion .accordion-item button {
  font-size: 15px;
  color: black !important;
  -webkit-font-weight: 600;
  -moz-font-weight: 600;
  font-weight: 600;
}

.cart-body .cart-accordion .accordion-item button:not(.collapsed) {
  background-color: transparent;
  color: black !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cart-body .cart-accordion .accordion-item button:not(.collapsed)::after {
  background-image: url("images/drop-down-arrow.png");
}

.cart-body .cart-accordion .accordion-item button::after {
  background-image: url("images/drop-down-arrow.png");
  margin-left: 5px !important;
}

.cart-body .cart-accordion ul button:focus {
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cart-body .user-cards .user-box {
  background-color: #f5f9f8;
  padding: 20px 15px;
  border-radius: 20px;
}

.cart-body .user-cards .user-box h1 {
  color: #1fc1c4;
}

.cart-body .user-cards .user-box img {
  width: 85px !important;
  border-radius: 50%;
  margin-right: 15px;
  z-index: 1;
}

.cart-body .user-cards .user-box i {
  -webkit-position: absolute;
  -moz-position: absolute;
  position: absolute;
  right: 12px;
  bottom: 12px;
  z-index: 1;
  background: #fff;
  border-radius: 50%;
}

.cart-body .user-cards .user-box .table-cardImg::before {
  content: " ";
  background: #1fc1c4;
  padding: 43px;
  border-radius: 50%;
  -webkit-position: absolute;
  -moz-position: absolute;
  position: absolute;
  top: -7px;
  right: 10px;
}

.cart-body .user-cards .user-box .table-cardImg::after {
  content: " ";
  background: #7f8180;
  padding: 43px;
  border-radius: 50%;
  -webkit-position: absolute;
  -moz-position: absolute;
  position: absolute;
  bottom: -7px;
  left: -5px;
}

.cart-body .user-cards .lines span:nth-child(1) {
  width: 2px;
  height: 110%;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1fc1c4), color-stop(50%, #7f8180), to(#7f8180));
  background: linear-gradient(180deg, #1fc1c4 50%, #7f8180 50%, #7f8180 100%);
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-position: absolute;
  -moz-position: absolute;
  position: absolute;
  top: -5px;
  left: 55px;
}

.cart-body .user-cards .lines span:nth-child(2) {
  width: 2px;
  height: 110%;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1fc1c4), color-stop(50%, #7f8180), to(#7f8180));
  background: linear-gradient(180deg, #1fc1c4 50%, #7f8180 50%, #7f8180 100%);
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-position: absolute;
  -moz-position: absolute;
  position: absolute;
  top: -5px;
  left: 65px;
}

.cart-body .user-cards .lines span:nth-child(3) {
  width: 2px;
  height: 110%;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1fc1c4), color-stop(50%, #7f8180), to(#7f8180));
  background: linear-gradient(180deg, #1fc1c4 50%, #7f8180 50%, #7f8180 100%);
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-position: absolute;
  -moz-position: absolute;
  position: absolute;
  top: -5px;
  left: 75px;
}

.overflow-scrl {
  overflow-y: scroll;
  height: 190px;
}

.overflow-scrl::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #1fc1c4;
  background: white;
}

.overflow-scrl::-webkit-scrollbar {
  width: 8px;
  background-color: #1fc1c4;
}

.overflow-scrl::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -mox-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1fc1c4;
}

th {
  white-space: nowrap;
  padding: 20px 0px !important;
}

.footer {
  border-radius: 0 0 25px 25px;
  background: #1fc1c4;
}

.footer h6 {
  font-size: 14px;
  line-height: 14px;
}

.footer span {
  font-size: 12px;
  border-radius: 5px;
  -webkit-font-weight: 700;
  -moz-font-weight: 700;
  font-weight: 700;
  color: #1fc1c4;
  margin-right: 10px;
  -webkit-padding: 1px 6px;
  -moz-padding: 1px 6px;
  padding: 1px 6px;
}

@media screen and (max-width: 991px) {
  .search-icon {
    left: 80%;
  }
  ul.header-list img {
    left: 90%;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding: 80px 20px;
  }
  .header::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -80px;
  }
  .logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -75px;
  }
  .background-E0E0E0 i {
    width: 45px;
  }
  .degree-program-border {
    width: 100%;
  }
  .search-icon {
    left: 90%;
  }
  ul.header-list img {
    left: 60%;
  }
  .cart-body ul.list-group-horizontal li {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .cart-body input[type="text"]::-webkit-input-placeholder {
    font-size: 12px;
  }
  .cart-body input[type="text"]:-ms-input-placeholder {
    font-size: 12px;
  }
  .cart-body input[type="text"]::-ms-input-placeholder {
    font-size: 12px;
  }
  .cart-body input[type="text"]::placeholder {
    font-size: 12px;
  }
  .accordion-button::after {
    margin-left: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */